# indexing

In [3]:
a = "Samosa Pakora"
a

'Samosa Pakora'

In [4]:
len(a)

13

In [5]:
a[1]

'a'

In [6]:
a[1:3]

'am'

In [7]:
a[-1]  #negative indecis

'a'

# String Methods

In [8]:
food = "biryani"
food

'biryani'

In [9]:
len(food)

7

In [10]:
food.capitalize() # capitalize every letter

'Biryani'

In [11]:
food.upper() # upper case all letters

'BIRYANI'

In [12]:
food.lower() # lower case letter

'biryani'

In [16]:
food.replace("b","sh") # to replace any letter

'shiryani'

In [17]:
# counting specific alphabets in a string by using count 
name = "learning python with baba ammar a legend of python"
name

'learning python with baba ammar a legend of python'

In [18]:
name.count('a')

6

In [19]:
name.count('p')

2

In [20]:
name.count('P')

0

## finding an index number in a string

In [21]:
name = "learning python with baba ammar a legend of python"
name

'learning python with baba ammar a legend of python'

In [22]:
name.find("a")

2

In [23]:
len(name)

50

### splititng the strings

In [24]:
food =  " i love desi murghi, fish, mutton, batairay, BBQ"
food

' i love desi murghi, fish, mutton, batairay, BBQ'

In [25]:
food.split(",")

[' i love desi murghi', ' fish', ' mutton', ' batairay', ' BBQ']

In [26]:
food.split("a")

[' i love desi murghi, fish, mutton, b', 't', 'ir', 'y, BBQ']

# Basic Data Structures in Python 

1. Tupple 
2. List
3. Dictionary 
4. Set

## Tupple 
. ordered collections of elements 
. Enclosed in () small brackets/pranthsis
. Different kind of elements can be store 
. Once a tupple is declare can not be change it

In [2]:
tup1 = (1, "python", True, 2.5)
tup1

(1, 'python', True, 2.5)

In [3]:
type(tup1)

tuple

### indexing in Tuple

In [4]:
tup1[2]

True

In [5]:
tup1[1]

'python'

In [6]:
tup1[0:5]

(1, 'python', True, 2.5)

In [7]:
tup1[0:3] # last object is exclusive

(1, 'python', True)

In [8]:
len(tup1) # countes of elements

4

In [9]:
tup2 = (2,"rana", 2.5, False) #concatination of 2 tuples 
tup1 + tup2

(1, 'python', True, 2.5, 2, 'rana', 2.5, False)

In [11]:
tup1 * 2 + tup2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'rana', 2.5, False)

In [12]:
# to check minimum and maximum value of a tuple 
tup3 = (23, 44, 55, 66, 77)
tup3

(23, 44, 55, 66, 77)

In [13]:
min(tup3)

23

In [14]:
max(tup3)

77

In [15]:
3 * tup3

(23, 44, 55, 66, 77, 23, 44, 55, 66, 77, 23, 44, 55, 66, 77)

---

## List
ordered collections of elements . Enclosed in [] square brackets .  It can change anytime

In [4]:
list1 = [1, "python", True]
list1

[1, 'python', True]

In [5]:
type(list1)

list

In [6]:
len(list1)

3

In [1]:
list2 = [2, 4, "Rana", 554, 76.3, True]
list2

[2, 4, 'Rana', 554, 76.3, True]

In [7]:
list1 + list2

[1, 'python', True, 2, 4, 'Rana', 554, 76.3, True]

In [8]:
len(list2)

6

In [9]:
list2 *2

[2, 4, 'Rana', 554, 76.3, True, 2, 4, 'Rana', 554, 76.3, True]

In [15]:
list2

[2, 4, 'Rana', 554, 76.3, True]

In [16]:
list2.reverse()
list2

[True, 76.3, 554, 'Rana', 4, 2]

In [18]:
list2.append("Mudassar")
list2

[True, 76.3, 554, 'Rana', 4, 2, 'Mudassar', 'Mudassar']

In [20]:
list2.pop(True)
list2

[True, 554, 'Rana', 4, 2, 'Mudassar', 'Mudassar']

In [21]:
list3 = [33, 22, 55, 666, 555, 33, 55, 66, 222, 56, 77]
list3

[33, 22, 55, 666, 555, 33, 55, 66, 222, 56, 77]

In [22]:
list3.sort()
list3

[22, 33, 33, 55, 55, 56, 66, 77, 222, 555, 666]

In [24]:
list3.extend("rana")
list3

[22, 33, 33, 55, 55, 56, 66, 77, 222, 555, 666, 'r', 'a', 'n', 'a']

---

## Dictionaries 
An unordered collections of elements, it contains keys and values, its mutateable means we can change the value, to declare it we have to use curly brackets {}.

In [27]:
# food and their prices 
food1 = {"Samosa": 30, "Pakora": 100, "Raita": 20, "Salad": 50, "Chicken Rolls": 30}
food1

{'Samosa': 30, 'Pakora': 100, 'Raita': 20, 'Salad': 50, 'Chicken Rolls': 30}

In [28]:
type(food1)

dict

In [30]:
# Extrct Data 
keys1 = food1.keys()
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Chicken Rolls'])

In [31]:
values1 = food1.values()
values1

dict_values([30, 100, 20, 50, 30])

In [32]:
# Adding new element 
food1["Tikki"]=10
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 10}

In [33]:
# update the values 
food1["Tikki"]=15
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15}

In [34]:
food2 = {"Dates": 50, "Choklates": 200, "Sawian": 1000}
food2

{'Dates': 50, 'Choklates': 200, 'Sawian': 1000}

In [35]:
food = food1 + food2 # Concatination

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [38]:
# to concatinate a dictionary we need to update the list like 
food1.update(food2)
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15,
 'Dates': 50,
 'Choklates': 200,
 'Sawian': 1000}

---

## Sets 
Unordered and unindexed, Use Curly braces, no duplicates allowed

In [39]:
s1 = {1, 2.2, 5.2, "rana", "mudassar", "faisalabad"}
s1

{1, 2.2, 5.2, 'faisalabad', 'mudassar', 'rana'}

In [40]:
type(s1)

set

In [42]:
s1.add("mudassar")
s1

{1, 2.2, 5.2, 'faisalabad', 'mudassar', 'rana'}

In [43]:
s1.add(True) # you are not able to add duplicates and boolean like true or false 
s1

{1, 2.2, 5.2, 'faisalabad', 'mudassar', 'rana'}

In [44]:
s1.remove(1)
s1

{2.2, 5.2, 'faisalabad', 'mudassar', 'rana'}

In [46]:
s1.clear()
s1

set()

In [47]:
s1

set()

In [48]:
s1 = {1, 2.2, 5.2, "rana", "mudassar", "faisalabad"}
s1

{1, 2.2, 5.2, 'faisalabad', 'mudassar', 'rana'}

In [50]:
s1.copy()
s1

TypeError: set.copy() takes no arguments (1 given)

In [51]:
s1.copy()
s1

{1, 2.2, 5.2, 'faisalabad', 'mudassar', 'rana'}

In [52]:
s1.difference()
s1

{1, 2.2, 5.2, 'faisalabad', 'mudassar', 'rana'}

In [53]:
s1.difference("rana")
s1

{1, 2.2, 5.2, 'faisalabad', 'mudassar', 'rana'}

In [54]:
s1.difference_update()
s1

{1, 2.2, 5.2, 'faisalabad', 'mudassar', 'rana'}

In [57]:
s1.get(1)
s1

AttributeError: 'set' object has no attribute 'get'